<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
	<div class="result">
        <% if (details) { %>
	        <h1>Title:
	            <%= details.title %>
	        </h1>
	        <h3>Author:</h3> <p><%= details.author %></p>
			<h3>Likes:</h3> <p><%= details.likes %></p>
			<h3>Dislikes:</h3> <p><%= details.dislikes %></p>
			<h3>VideoUrl:</h3> <a target="_blank" href=<%=details.videoUrl %>>Open</a>
			<h3>Bit-Rates</h3> 
			<% for (x in details.bitRate) {%>
				<button class="bitRateBtn" data-link=<%= details.bitRateURL[x] %>> <%= details.bitRate[x] %></button>
			<% } %>
			<div class="download-link block">
				
			</div>
			<h3>Thumbnail</h3>
			<img src=<%= details.thumbnail %>> 
        <% } else { %>
        	<p>Something went wrong</p>
        <% } %>
    </div>

    <script src="../js/convertScript.js" defer></script>
</body>
</html>